/* HOMEPAGE */

.cover{
    background: url("../images/library_cover.jpeg");
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

.actionButtons{
    text-align: center;
    margin-top: 150px;
}
.actionButtons button{
    padding: 20px 30px;
    font-size: 3em;
    margin-left: 50px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
}

/* NAVIGATION MENU */

.navbar{
    justify-content: center;
}

#navigation{
    background-color: #2c3e50;
    margin-bottom: 50px;
    z-index: 9999;
}
#navigation img{
    width: 32px;
}
#navigation .navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
}
#navigationMenu .nav-link{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}


/* LOGIN PAGE */


#loginPortal .nav-tabs, #loginPortal .tab-content{
    display: flex;
    justify-content: center;
}
#loginPortal .nav-tabs a{
    font-weight: bold;
    font-size: 1.2em;
}
#loginPortal button{
    text-align: center;
}
#employee,#student{
    padding:20px 50px;
    border:2px solid #f0f3f4;
}
#employee input[type="text"],
#employee input[type="password"], 
#student input[type="text"],
#student input[type="password"],
#resetPassword{
    margin: 15px 0;
    font-weight: bold;
    color:#000000;
    width: 450px;
    padding:15px 10px;
}
#employee .buttons,
#student .buttons{
    text-align: center;
}

/* FORGOT PASSWORD PAGE */
#password-reset{
    width: 60%;
    margin: 0 auto;
    padding:50px;
    border:1px solid #e6e6e6;
}

/* REGISTER PAGE */

#register .title{
    margin-bottom: 60px;
}
#userRegistration form{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.8);    
    margin-bottom: 60px;
}
#userRegistration input{
    color: #282828;
    font-weight: bold;
}
#userRegistration .buttons{
    text-align: center;
}
#userRegistration .buttons input,
#userRegistration .buttons button, 
input[type="submit"], 
input[type="reset"],
#password-reset button{
    padding: 10px 50px;
    color: #fff;
    text-transform: uppercase;
}

#userRegistration .form-check label{
    font-weight: bold;
    text-transform: uppercase;  
    margin-right: 50px;
}


/* EMPLOYEE SECTION */
#left-panel, #right-panel{
    margin-top: 50px;
}

#left-panel{
    border: 2px solid #282828;
    padding:10px;
    text-align: center;
}

/* DASHBOARD */

#employee-info .img-holder img{
    width: 80px;
}
#employee-info .name{
    font-weight: bold;
}
#employee-info:after {
    content:"";
    display: block;
    margin:0 auto;
    width: 25%;
    padding-top:10px;
    border-bottom: 4px solid black;
}

#leftPanel-menu li{
    margin: 5px 0;

}

#leftPanel-menu li a{
    width:150px;
}
#leftPanel-menu li:first-child{
    margin-top:20px;
}
#leftPanel-menu li:last-child{
    margin-top:150px;
}

/* RIGHT PANEL */

#bookList .book{
    display: flex;
    margin-bottom: 20px;
}
#bookList .book-img img{
    width: 60px;
    margin-right: 10px;
}
#bookList .book-info p{
    margin-bottom: 5px;
}
#bookList .book-info .name{
    font-size: 1.2em;
    font-weight: bold;
}




/* RESPONSIVENESS */

@media(min-width: 767px){
    #left-panel{
        width:180px;
    }
}